html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

header {
    height: 100%;
    width: 100%;
    background-color: #ffefdf;
    display: flex;
    align-items: flex-end;
}

body {
    font-family: 'Indie Flower', cursive;
    color: #505050;
    font-size: 20px;
    text-align: justify;
}

main {
    min-height: 100%;
    overflow: hidden;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0;
    display: block;
}

li {
    font-size: 18px;
	background: #fff;
	height: 30px;
	line-height: 30px;
	color: #666;
    background-image: repeating-linear-gradient(#fff 0px, #fff 24px, #4682b4 25px);
}

li:hover span {
    width: 40px;
    line-height: 30px;
    opacity: 1.0;
}

span {
	height: 30px;
	margin-right: 20px;
	text-align: center;
	color: #505050;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

input {
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
    color:#505050;
    width: 100%;
    padding: 3px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
}

input:focus{
    border: 1px solid #000000;
    padding: 40px 10px
    outline: none;
}

header .headerContainer {
    display: flex;
    position: relative;
    text-align: center;
}

header .headerImage {
    display: flex;
}


header .title {
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header img {
    width: 100%;
}

header a {
    width: 100%;
}

header h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

header h3 {
    margin: 0;
    position: absolute;
    padding-top: 220px;
    padding-left: 150px;
    transform: translate(-50%, -50%);
    white-space: nowrap;
 }

main h1 {
    color: #ffeaa3;
    background: #505050;
    margin: 0;
    padding: 0px 20px;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    font-weight: bold;
}

main .section {
    width: 100%;
    height: 100vh;
    background-image: url("./canvas.png");
}

.scrollDown {
    position: absolute;
    color: #4ca6a6;
    margin: auto;
    padding-top: 220px;
    top: 40%;
    font-size: 60px;
    animation: blink 2s ease-in infinite;
}

@keyframes blink {
  from, to { opacity: 1 }
  50% { opacity: 0 }
}

.completed {
    color: #505050;
    text-decoration: line-through;
    text-decoration-style: wavy;
}

.fa-plus {
    padding-top: 7px;
    float: right;
}


#wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


#instructions {
    flex: 0 0 40%;
    margin-top: 40px ;
    padding-left: 50px;
}

#container {
    width: 360px;
    flex: 0 1 35%;
    margin: 65px 35px;
    padding-right: 50px;
}


#footer {
    height: 30px;
    position: relative;
    background: #505050;
    overflow: hidden;
}

#footer p {
    margin-top: 5px;
    font-size: 12px;
    font-style: italic;
    color: #ffeaa3;
    text-align: center;
}
